.mostrarReservas ul li{
    font-family: 'HelveticaNeue-Roman';
    list-style-type: none;
    background: rgba(25, 173, 206, 0.58);/*#19adce94*/
    margin: 15px auto;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.reservas  {
    /*background: rgba(255, 255, 255, 0.1);*/
    margin-top: 20px;
}



.titulo{
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
}
