.form-control{
    width: 100%;
}

.alert{
    background: white;
    margin-left: 50px;
}


.BusquedaHogar{
    font-family: 'HelveticaNeue-Roman';
}

.hiddenOpacity{
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

.showOpacity{
    visibility: visible;
    opacity: 1;
    transition: 1s;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}


