.Header {
    position:fixed;
    top: 0px;
    right:0px;
    /*background: rgba(201, 22, 211, 0.611);*/
    background: rgba(255, 255, 255, 0.2);
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    box-shadow: 2px 0px 2px 0px rgba(255, 255, 255, 1);
    padding: 5px 10px;
  }

  .icon_login{
    border-radius:100%;
  }

  .text-muted{
    color: white;
  }