
.footer {
    background: #c916d39c;
    color: white;
    width: auto;
    margin: 0 auto;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
  }

  .text-muted{
    color: white;
  }