
.footer {
    background: #c916d39c;
    color: white;
    width: auto;
    margin: 0 auto;
    text-align: center;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    /*box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 1), 6px 6px 20px 0 rgba(255, 255, 255, 1);*/
  }

  .text-muted{
    color: white;
  }