.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.noactive{
    display: block;
    font-family: 'HelveticaNeue-Roman';;
    border:1px solid white;
    border-radius: 5px;
    padding: 7px 12px;
    margin:5px;
    color: white;
}
.noactive:hover {
    border: solid 1px;
    border-color: #c916d3;
    color: white;
    background: rgba(201, 22, 211, 0.611);/*#c916d39c*/
}

.active {
    display: block;
    font-family: 'Symbah-Regular';
    font-size: 20px;
    padding: 5px 16px;
}

.com{
    color: snow;
    font-weight: bold; 
    font-family: 'Gotham-Thin';
}

.topnav li.right {
    float: right;
}

.showButton{
    display: block;
  }

@media screen and (max-width: 600px){
    ul.topnav li {float: none;}
}