
  .navbar-brand{
    font-family: 'Symbah-Regular';
  }
  
  .navbar-com{
    color: snow;
    font-weight: bold; 
    font-family: 'Gotham-Thin';
  }


  .navbar li a{
    text-decoration:none;
    font-family: 'HelveticaNeue-Roman';
    border:1px solid white;
    border-radius: 5px;
    padding: 7px 12px;
    margin: 5px;
    color: white;
  }

  .navbar li a:hover{ 
    border: solid 1px;
    border-color: #c916d3;
    color: white;
    background: #c916d39c;
  }

  .showButton{
    display: inline;
  }