.navbar{
    background: transparent;
    /*box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgba(0, 0, 0, 0.19);*/
  }

  .navbar-brand{
    font-family: 'Symbah-Regular';
  }
  
  .navbar-com{
    color: snow;
    font-weight: bold; 
    font-family: 'Gotham-Thin';
  }


  .navbar li a{
    text-decoration:none;
    font-family: 'HelveticaNeue-Roman';
    border:1px solid white;
    border-radius: 5px;
    padding: 7px 12px;
    margin: 5px;
    color: white;
  }

  .navbar li a:hover{ 
    border-color: #c916d3;
    background: #c916d3;
  }