/*.otro div {
   border: solid 1px black;
}*/

/*.otro ul li{
    list-style-type: none;
    background: #80bfff;
    margin: 15px auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #0059b3;
    border-radius: 20px;
}*/

/*.otro ul li{
    list-style-type: none;
    margin: 15px auto;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #8c8c8c;
}*/


.otro ul li{
    list-style-type: none;
    background: #19adce94;
    margin: 15px auto;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

/*.otro ul li{
    list-style-type: none;
    background: #d9d9d9;
    margin: 15px auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #bfbfbf; 
    box-shadow: 0px 2px 8px 0 #a6a6a6, 0px 4px 12px 0 #a6a6a6;
    text-align: left;
}*/
