/* Sticky footer styles
-------------------------------------------------- */
.App{
  margin: 0 auto;
  padding: 200px;
  background: transparent;
  height: 100%;
  width: auto;
  overflow: hidden;
  
}






